/*Disabled scrolling*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pantalla1{
    position: relative;
    
}

img {
    width: 300px;
}

.pantalla {
    display: none;
  }
  
  .pantalla.activa {
    display: block;
  }


  .btn1 {
    position: absolute;
    right: 30px;
    top: 506px;
    width: 240px;
    height: 60px;
    background-color: #00BFA6;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .btn1 span:last-child {
    display: none;
   }
   
   .btn1:hover {
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color: #fff;
    color: #00BFA6;
   }
   
   .btn1:active {
    background-color: #87dbd0;
   }
   

